.gamestage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  padding-bottom: 70px;
  text-align: center;
}

.title {
  font-size: 2em;
  margin: 0;
}

.message {
  font-size: 1.2em;
  margin: 0;
}

.input {
  font-size: 1.4em;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 3px solid transparent;
  font-family: inherit;
  background-color: #ffcad4;
  color: #836a71;
  transition: background-color 0.25s;
  outline: 0;
  /* transition: border-color 0.25s; */
}

.input:focus,
.input:focus-visible,
.input:hover,
.input:active {
  background-color: #fad9df;
  border-color: #836a71;
}
